<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shout-Out Display</title>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <link href="../vendors/jquery-ui.min.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body>
    <h1 id="head">Student Shout-Outs</h1>
    <p id="loading">Loading the students and their shoutouts...</p>
    <!-- <img src="http://static.fjcdn.com/gifs/Waiting+in+the+rain+time+any+other+times+people+should_c48c77_3688958.gif" alt="waiting in the rain" /> -->
    <div class="students">
    </div>
    <script src="../vendors/jquery.min.js"></script>
    <script src="../vendors/bootstrap.min.js"></script>
    <script src="../javascripts/app.min.js"></script>
    <script src="../vendors/jquery-ui.min.js"></script>
  </body>
</html>
