body {
  font-family: "Coming Soon", sans-serif;
  background-image: url('/images/corkboard.jpeg');
  text-align: center;
}
.background {
  background-image: url('/images/students.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 350px;
  width: 50%;
  margin: 50px auto;
}
.studentShoutOut {
  list-style-type: none;
}
.redpin {
	background: url('/images/pinsprite.png') no-repeat -7px -7px;
	width: 38px;
	height: 50px;
  margin: -25px -15px 0 0;
  float: right;
}
.bluepin {
	background: url('/images/pinsprite.png') no-repeat -90px -10px;
	width: 37px;
	height: 51px;
  margin: -25px 0 0 0;
  float: left;
}
#Add {
  margin-top: 20px;
}
@media (min-width: 1328px) {
  .studentName {
    padding-top: 5px;
    font-size: 25px;
  }
  .shoutOut {
    font-size: 25px;
  }
  .titleHeader {
    font-size: 30px;
    background-color: white;
    border-radius: 25px;
    width: 60%;
    margin: 10px auto;
  }
}
@media (min-width: 1127px) and (max-width: 1327px) {
  .studentName {
    padding-top: 5px;
    font-size: 20px;
  }
  .shoutOut {
    font-size: 20px;
  }
  .titleHeader {
    font-size: 30px;
    background-color: white;
    border-radius: 25px;
    width: 60%;
    margin: 10px auto;
  }
}
@media (min-width: 700px) and (max-width: 1126px) {
  .studentName {
    padding-top: 5px;
    font-size: 20px;
  }
  .shoutOut {
    font-size: 15px;
  }
  .titleHeader {
    font-size: 30px;
    background-color: white;
    border-radius: 25px;
    width: 60%;
    margin: 10px auto;
  }
}
@media (max-width: 700px) {
  .studentName {
    padding-top: 5px;
    font-size: 20px;
  }
  .shoutOut {
    font-size: 13px;
  }
  .titleHeader {
    font-size: 25px;
    background-color: white;
    border-radius: 25px;
    width: 60%;
    margin: 10px auto;
  }
}
.shoutText {
	margin-top: 15px;
}
.shoutName {
	margin-top: 5px;
}
.addData {
  margin-top: 20px;
}
